.homeTirath {
    width: "600px";
    height: "400px";
}

 #mainMarquee #marqueeTag {
    text-align: center;
    color: blue;
    text-shadow: 1px 2px 3px rgb(55, 148, 202);
}

.proje {
    white-space: nowrap;
    /* background-color: yellow; */
    /* color: red; */
    animation-name: bablesh;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 3px rgb(46, 41, 41);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    text-wrap: wrap;
}

@keyframes bablesh {
    0% {
        transform: translateX(0%);
        /* background-color: rgb(88, 194, 88); */
        box-shadow: 2px 2px 3px 3px rgb(46, 41, 41);

    }

    25% {
        /* transform: translateX(25%); */
        /* background-color: rgb(48, 43, 124); */
        color: rgb(226, 84, 245);
        box-shadow: 1px 2px 3px 1px rgb(46, 41, 41);

    }

    50% {
        /* transform: translateX(50%); */
        /* background-color: rgb(88, 88, 241); */
        color: aqua;
        box-shadow: -2px -2px 3px rgb(46, 41, 41);

    }

    75% {
        /* transform: translateX(75%); */
        /* background-color: rgb(78, 45, 78); */
        color: rgb(226, 84, 245);
        box-shadow: 2px 2px 4px rgb(46, 41, 41);
    }

    100% {
        /* transform: translateX(100%); */
        /* background-color: rgb(88, 194, 88); */
        box-shadow: 2px 2px 3px rgb(46, 41, 41);

    }
} 