.websi1 {
  font-style: italic;
  color: #ffffff;
}
.card-img-top {
  width: 200px;
  height: 200px;
}
.jumbotron {
  background-image: url("./../../images/img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.cardImg{
  height: 200px;
}
