.navbar {
  background: linear-gradient(90deg, rgb(26, 82, 236) 0%, rgb(26, 23, 23) 100%);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 15px 50px;
}
.btn--medium {
  margin-bottom: 15px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 1500px;
}

.navbar-logo {
  color: #ffffff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  line-height: 1.2;
  margin-bottom: 13px;
}
.navbar-logo:hover{
  color: white;
  text-decoration: none;
} 

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  /* margin-right: -0.4rem; */
}

.nav-item {
  height: 55px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: white;
  text-decoration: none;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}
.fa-bars:hover {
  color: #41df49;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: linear-gradient(90deg, rgb(18, 19, 22)  0%, rgb(57, 106, 241) 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    justify-content: start;
    height: 500%;
    border-radius: 10px 50px;
  }

  .nav-links {
    margin-top: 15px;
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background: linear-gradient(90deg, #048b0b 0%, rgb(26, 23, 23) 100%);
    color: #fcfcfc;
    border-radius: 50px 10px;
  }

  .navbar-logo {
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    font-size: 1.6rem;
    margin-left: 0;
    line-height: 1.2;
  }

  .menu-icon {
    display: block;
    position: absolute;
    /* top: 0; */
    margin-bottom: 52PX;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .fa-times:hover {
    color: #d65a5a;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    border-radius: 50px 50px;
  }

  .nav-links-mobile:hover {
    background: linear-gradient(90deg, #048b0b 0%, rgb(26, 23, 23) 100%);
    color: #ffffff;
    transition: 250ms;
    border-radius: 10px 50px;
    text-decoration: none;
  }
}